body {
  background-color: #f8f8f8;
}

header,
footer {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 8in;
}

.blockquote {
  margin: 0 auto;
  max-width: 7in;
}

img {
  display: block;
  max-width: 6in;
  margin: 0 auto;
}

.caption {
  max-width: 6in;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

code {
  background-color: #ddd;
}