body {
  background-color: #f8f8f8;
}

header,
footer {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 8in;
}

.blockquote {
  margin: 0 auto;
  max-width: 7in;
  overflow-x: auto;
}

.scrollblock {
  max-height: 200px;
  overflow-y: auto;
}

form {
  margin: 1em auto;
  max-width: 7in;
}

img {
  display: block;
  max-width: 6in;
  margin: 0 auto;
}

.caption {
  max-width: 6in;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

code {
  background-color: #ddd;
}

textarea {
  resize: both;
  display: block;
  width: 100%;
}

#urltemplate {
  display: block;
  float: left;
  overflow-x: auto;
  max-width: calc(100% - 1in - 10px);
  margin-right: 10px;
}

#map {
  max-width: 6in;
  margin: 1em auto;
  height: 400px;
}